@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
/* line 3, ../sass/main.scss */
body {
  background-color: #f2f2f2;
}

/* line 7, ../sass/main.scss */
.heading-line {
  width: 100%;
  height: 3px;
  background: #3498DB;
}

/* line 13, ../sass/main.scss */
.wrap {
  width: 980px;
  margin: 0 auto;
}

/* line 19, ../sass/main.scss */
header .site-name {
  font-size: 18px;
  margin: 20px 0;
  font-family: 'Droid Serif', serif;
}
/* line 24, ../sass/main.scss */
header .menu {
  background: #222932;
}
/* line 26, ../sass/main.scss */
header .menu li {
  display: inline-block;
  color: #FFF;
  background: #222932;
  padding: 10px 15px;
  font-family: 'Droid Serif', serif;
}
/* line 32, ../sass/main.scss */
header .menu li:hover {
  background: #333a43;
  cursor: pointer;
}
/* line 38, ../sass/main.scss */
header .main-visual {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  margin-bottom: 50px;
}
/* line 43, ../sass/main.scss */
header ul.pickup-articles {
  padding: 20px 0;
}
/* line 45, ../sass/main.scss */
header ul.pickup-articles li {
  display: inline-block;
  width: 300px;
  height: 160px;
  background: #FFF;
  margin-right: 35px;
}
/* line 52, ../sass/main.scss */
header ul.pickup-articles li:last-child {
  margin-right: 0px;
}
/* line 55, ../sass/main.scss */
header ul.pickup-articles li:first-child {
  background-image: url(../img/sample1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 60, ../sass/main.scss */
header ul.pickup-articles li:nth-child(2) {
  background-image: url(../img/sample2.png);
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 65, ../sass/main.scss */
header ul.pickup-articles li:nth-child(3) {
  background-image: url(../img/sample3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 70, ../sass/main.scss */
header ul.pickup-articles .article {
  position: relative;
}
/* line 72, ../sass/main.scss */
header ul.pickup-articles .article .title {
  position: absolute;
  font-size: 14px;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFF;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 85, ../sass/main.scss */
header ul.pickup-articles .article:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* line 93, ../sass/main.scss */
.main {
  width: 600px;
  height: 500px;
  margin-right: 30px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 102, ../sass/main.scss */
.main .articles li {
  width: 100%;
  height: 200px;
  background: #FFF;
  border-radius: 5px;
  margin: 20px 0;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 112, ../sass/main.scss */
.main .articles li .thumbnail {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
}
/* line 119, ../sass/main.scss */
.main .articles li .title {
  font-size: 18px;
  color: #333;
}
/* line 123, ../sass/main.scss */
.main .articles li .created {
  color: #3498DB;
  font-size: 14px;
  margin: 5px 0;
  display: inline-block;
  font-family: "Times New Roman";
}
/* line 130, ../sass/main.scss */
.main .articles li .desc {
  font-size: 12px;
}

/* line 136, ../sass/main.scss */
.sidebar {
  width: 340px;
  display: inline-block;
  float: right;
}
/* line 140, ../sass/main.scss */
.sidebar .articles li {
  width: 100%;
  background: #FFF;
  margin: 20px 0;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #222932;
}
/* line 149, ../sass/main.scss */
.sidebar .articles li .thumbnail {
  width: 80px;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
}
/* line 156, ../sass/main.scss */
.sidebar .articles li .title {
  font-size: 12px;
  color: #FFF;
}
/* line 160, ../sass/main.scss */
.sidebar .articles li .created {
  color: #999;
  font-size: 12px;
  margin: 5px 0;
  display: inline-block;
  font-family: "Times New Roman";
}
/* line 168, ../sass/main.scss */
.sidebar .category li {
  width: 100%;
  padding: 15px 5px;
  background-color: #FFF;
  color: #3498DB;
  font-family: 'Droid Serif', serif;
  margin-bottom: 10px;
}

/* line 178, ../sass/main.scss */
.heading1 {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 3px;
  border-bottom: 1px solid #e1e1e1;
  -webkit-box-shadow: 0 1px 0 #fff;
  -moz-box-shadow: 0 1px 0 #fff;
  box-shadow: 0 1px 0 #fff;
}

/* line 188, ../sass/main.scss */
.pull-left {
  float: left;
}

/* line 193, ../sass/main.scss */
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
